<form action="/login" method="post">
            <label for="a">username</label>
            <input id="a" name="username"></input>
            <label for="b">password</label>
            <input id="b" name="password"></input>
            <button type="submit">login</button>
        </form>
        <a href ="/signup">signup</a>

        <span>{{{ message }}}</span>