<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="real-estate-quick-view shadow">
            <h3 class="title text-capitalize"><a href="#">21 forest view dr, san francisco, CA</a></h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/media/house/2.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <span class="text-right text-strong">$478,000</span>
                        <span class="text-right text-muted">Multi Family</span>
                    </h3>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="text-left">Beds</td>
                            <td class="text-right">3</td>
                        </tr>
                        <tr>
                            <td class="text-left">Baths</td>
                            <td class="text-right">3</td>
                        </tr>
                        <tr>
                            <td class="text-left">Square feet</td>
                            <td class="text-right">3540</td>
                        </tr>
                        <tr>
                            <td class="text-left">Lot size</td>
                            <td class="text-right">6570</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="real-estate-quick-view shadow">
            <h3 class="title text-capitalize"><a href="#">1602 oakwood dr, modesto, CA</a></h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/media/house/3.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <span class="text-right text-strong">$351,500</span>
                        <span class="text-right text-muted">Multi Family</span>
                    </h3>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="text-left">Beds</td>
                            <td class="text-right">3</td>
                        </tr>
                        <tr>
                            <td class="text-left">Baths</td>
                            <td class="text-right">2</td>
                        </tr>
                        <tr>
                            <td class="text-left">Square feet</td>
                            <td class="text-right">1390</td>
                        </tr>
                        <tr>
                            <td class="text-left">Lot size</td>
                            <td class="text-right">9800</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="real-estate-quick-view shadow">
            <h3 class="title text-capitalize"><a href="#">225 rosemont ave, modesto, CA</a></h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/media/house/4.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <span class="text-right text-strong">$678,000</span>
                        <span class="text-right text-muted">Single Family</span>
                    </h3>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="text-left">Beds</td>
                            <td class="text-right">4</td>
                        </tr>
                        <tr>
                            <td class="text-left">Baths</td>
                            <td class="text-right">2</td>
                        </tr>
                        <tr>
                            <td class="text-left">Square feet</td>
                            <td class="text-right">4890</td>
                        </tr>
                        <tr>
                            <td class="text-left">Lot size</td>
                            <td class="text-right">15400</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="real-estate-quick-view shadow">
            <h3 class="title text-capitalize"><a href="#">215 olivero rd, modesto, CA</a></h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/media/house/1.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <span class="text-right text-strong">$430,000 /month</span>
                        <span class="text-right text-muted">Condo/Apartment</span>
                    </h3>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="text-left">Beds</td>
                            <td class="text-right">2</td>
                        </tr>
                        <tr>
                            <td class="text-left">Baths</td>
                            <td class="text-right">1</td>
                        </tr>
                        <tr>
                            <td class="text-left">Square feet</td>
                            <td class="text-right">2450</td>
                        </tr>
                        <tr>
                            <td class="text-left">Lot size</td>
                            <td class="text-right">10890</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="real-estate-quick-view shadow">
            <h3 class="title text-capitalize"><a href="#">3623 McKinley blvd, sacramento, CA</a></h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/media/house/5.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <span class="text-right text-strong">$1,600 /month</span>
                        <span class="text-right text-muted">Condo/Apartment</span>
                    </h3>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="text-left">Beds</td>
                            <td class="text-right">2</td>
                        </tr>
                        <tr>
                            <td class="text-left">Baths</td>
                            <td class="text-right">1</td>
                        </tr>
                        <tr>
                            <td class="text-left">Square feet</td>
                            <td class="text-right">4370</td>
                        </tr>
                        <tr>
                            <td class="text-left">Lot size</td>
                            <td class="text-right">12980</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="real-estate-quick-view shadow">
            <h3 class="title text-capitalize"><a href="#">1124 perkins way, sacramento, CA</a></h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/media/house/6.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <span class="text-right text-strong">$475,000</span>
                        <span class="text-right text-muted">Single Family</span>
                    </h3>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="text-left">Beds</td>
                            <td class="text-right">6</td>
                        </tr>
                        <tr>
                            <td class="text-left">Baths</td>
                            <td class="text-right">4</td>
                        </tr>
                        <tr>
                            <td class="text-left">Square feet</td>
                            <td class="text-right">3678</td>
                        </tr>
                        <tr>
                            <td class="text-left">Lot size</td>
                            <td class="text-right">16900</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>