
<div>
    <form id="add-new" name="newApt" action="/newApartment" method="post">
        <button type="submit">Add New Apartment</button>
    </form>
</div>

<div id = "city-choosing-div"> 
    <form id="city-choosing-form" action="/apartment" method="post">
    <div >
        <label for="zipcode">Search your apartment </label>
        <input id="zipcode" name="zipcode" placeholder="Enter the zipcode">
    </div>
    <br>
   
        <button type="submit">Submit</button>
    </form>
    <br>
</div>




