{{! <div>
    <form id="add-new" name="newApt" action="/newApartment" method="post">
        <button type="submit">Add New Property</button>
    </form>
</div> }}

<div id="city-choosing-div">
  <form id="city-choosing-form" action="/apartment" method="post">
    <div>
      <label for="zipcode">Filter by Zipcode</label>
      <input
        id="zipcode"
        type="number"
        min="4"
        name="zipcode"
        placeholder="Enter the zipcode"
      />
      <label for="state">Filter by State</label>
      <input
        id="state"
        type="text"
        name="state"
        placeholder="Enter the state"
      />
      <label for="city">Filter by City </label>
      <input
        id="city"
        type="text"
        name="city"
        placeholder="Enter the city"
      />
      <label for="rent">Search your Rent </label>
      <input
        id="rent"
        type="number"
        name="rent"
        placeholder="Enter the rent"
      />
      <label for="size">Search your Size </label>
      <input
        id="size"
        type="number"
        name="size"
        placeholder="Enter the size"
      />
      <label for="occupantCapacity">Search your Occupant Capacity </label>
      <input
        id="occupantCapacity"
        type="number"
        name="occupantCapacity"
        placeholder="Enter the Occupant Capacity"
      />
    </div>
    <br />

    <button type="submit">Submit</button>
  </form>
  {{#if error}}
    <div>{{error}}</div>
  {{/if}}
  <br />
</div>