<form id="new-apartment" enctype="multipart/form-data" action="/newApartmentInfo" method="post">
  <div>
    <label for="state">State: </label>
    <input id="state" name="state" placeholder="Enter the state" />
  </div>
  <div>
    <label for="city">City: </label>
    <input id="city" name="city" placeholder="Enter the city" />
  </div>
  <div>
    <label for="photos">Photos: </label>
    <input type="file" multiple="multiple" id="photos" name="photos" placeholder="Attach Photos" />
  </div>
  <div>
    <label for="address">Address: </label>
    <input id="address" name="address" placeholder="Enter address" />
  </div>
  <div>
    <label for="zipcode">Zipcode: </label>
    <input id="zipcode" name="zipcode" placeholder="Enter the zipcode" />
  </div>
  <div>
    <label for="rent">Rent: </label>
    <input id="rent" name="rent" placeholder="Enter the rent" />
  </div>
  <div>
    <label for="size">Square Footage: </label>
    <input id="size" name="size" placeholder="Enter the square footage" />
  </div>
  <div>
    <label for="occupantCapacity">Occupant Capacity: </label>
    <input
      id="occupantCapacity"
      name="occupantCapacity"
      placeholder="Enter the occupant capacity"
    />
  </div>
  <button type="submit">Submit</button>
</form>