{{#if success}}
<h4>{{success}}</h4>
{{/if}}

<form id="new-apartment" enctype="multipart/form-data" action="/newApartmentInfo" method="post">
  <div class="form-group">
    <label for="state">State: </label>
    <input id="state"  class="form-control" name="state" placeholder="Enter the state" />
  </div>

  <div class="form-group">
    <label for="city">City: </label>
    <input id="city"  class="form-control" name="city" placeholder="Enter the city" />
  </div>


   <div class="form-group">
    <label for="photos">Photos: </label>
    <input type="file" multiple="multiple" id="photos" name="photos"  class="form-control" placeholder="Attach Photos" />
  </div>

  
  <div class="form-group">
   <label for="address">Address: </label>
    <input id="address" name="address"  class="form-control" placeholder="Enter address" />
  </div>

 
  <div class="form-group">
     <label for="zipcode">Zipcode: </label>
    <input id="zipcode" name="zipcode"  class="form-control" placeholder="Enter the zipcode" />
  </div>

   
  <div class="form-group">
   <label for="rent">Rent: </label>
    <input id="rent" name="rent"   class="form-control" placeholder="Enter the rent" />
  </div>

  <div class="form-group">
    <label for="size">Square Footage: </label>
    <input id="size" name="size"  class="form-control" placeholder="Enter the square footage" />
  </div>

  <div class="form-group">
    <label for="occupantCapacity">Occupant Capacity: </label>
    <input
      id="occupantCapacity"
      name="occupantCapacity"
      placeholder="Enter the occupant capacity"
       class="form-control"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>





{{!-- <form id="new-apartment" action="/newApartmentInfo" method="post">
  <div>
    <label for="state">State: </label>
    <input id="state" name="state" placeholder="Enter the state" />
  </div>
  <div>
    <label for="city">City: </label>
    <input id="city" name="city" placeholder="Enter the city" />
  </div>
  <div>
    <label for="photos">Photos: </label>
    <input type="file" multiple="multiple" id="photos" name="photos" placeholder="Attach Photos" />
  </div>
  <div>
    <label for="address">Address: </label>
    <input id="address" name="address" placeholder="Enter address" />
  </div>
  <div>
    <label for="zipcode">Zipcode: </label>
    <input id="zipcode" name="zipcode" placeholder="Enter the zipcode" />
  </div>
  <div>
    <label for="rent">Rent: </label>
    <input id="rent" name="rent" placeholder="Enter the rent" />
  </div>
  <div>
    <label for="size">Square Footage: </label>
    <input id="size" name="size" placeholder="Enter the square footage" />
  </div>
  <div>
    <label for="occupantCapacity">Occupant Capacity: </label>
    <input
      id="occupantCapacity"
      name="occupantCapacity"
      placeholder="Enter the occupant capacity"
    />
  </div>
  <button type="submit">Submit</button> 
</form>--}}